*{
    margin: 0;
    padding: 0;
}

/*fonts used*/
.font-roboto{
    font-family: 'Roboto', sans-serif;
}
.font-rubik{
    font-family: 'Rubik', sans-serif;
}

/*header start*/
#header {
    height: 130px;
    box-shadow: 0px -1px 10px 1px #80808063;
}

/*top bar*/
#info-top{
    background: #957ff6;
    width:100%;
    height: 45px;
}

.info-top-main-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed-top{
    display: flex;
}

/*top bar right section*/
.float-right{
    width: 50%;
    text-decoration: none;
}

.float-left {
    width: 50%;
    margin-right: 50rem;
    margin-left: 26px;
}

/*top bar list*/
.list {
    list-style: none;
    cursor: pointer;
    margin: 10px;
    padding: 0 4px;
}

.list a{
    text-decoration: none;
    color: white;
}


/*fontawesome edit*/

/*mail&phone*/
.con {
    margin: 11px -5px 0px 14px;
    color: white;
}
/*social-links*/
.sm{
    color: white;
}
/*hr of top-row*/
hr{
    height: 35px;
    opacity: 0.5;
}


/*navbar start*/
.nav-bar{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    height: 90px;
    overflow: hidden;
}

.nav-bar li{
    list-style: none;
}

.list-item  {
    padding: 0px;
    font-size: 22px;
    margin: 22px;
    color: #957ff6;
    text-decoration: none;
    font-weight: 800;
    display: block;
}

.list-item:hover{
    color: black;
}

/*Logo edit*/
.logo {
    margin-right: 440px;
    height: 74px;
    display: flex;
}
.logo-a {
    font-size: 64px;
    text-decoration: none;
    color: #957ff6;
}

#contact-sec{
    background: url(contact.jpg) no-repeat center center;
    background-size: cover;
    height: 48em;
}

.contact-container{
    padding: 30px 50px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-img{
    width: 120px;
    height: 120px;
}

.main-container>.contact-img>img{
    height: 100%;
    width: 100%;
}

legend {
    font-weight: bold;
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}

form{
    background: #3d3d417a;
    margin-bottom: 10px;
}

label {
    color: white;
    font-size: 30px;
    margin-left: 29px;
}

textarea {
    width: 650px;
    height: 218px;
    border-radius: 20px;
    border: 2px solid white;
    background: transparent;
    margin: 10px;
    outline: none;
    font-size: 20px;
    padding: 11px 8px;
    color: white;
}

.input {
    width: 700px;
    height: 37px;
    border-radius: 40px;
    padding: 2px 15px;
    outline: none;
    border:2px solid white;
    margin: 7px;
    background: transparent;
    font-size: 17px;
    color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#E6DAD8;
    opacity: 1;          /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #E6DAD8;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #E6DAD8;
  }

.submit-btn {
    width: 250px;
    height: 50px;
    border: 2px solid white;
    background: none;
    color: #E6DAD8;
    border-radius: 40px;
    margin-left: 25px;
    font-size: 25px;
    outline: none;
    align-content: right;
}

.submit-btn:hover{
    background: rgba(0, 0, 0, 0.479);
    color:white ;
    cursor: pointer;
}

/*footer*/

#footer{
    height: 38rem;
    display: block;
    position: relative;
    background: #0b0a0f;
}


.footer-wrapper{
    padding: 66px 0;
}

.footer-main-container{
    display: flex;
    justify-content: space-between;
}

.footer-area{
    padding: 0 85px;
}

.footer-title {
    display: flex;
    flex-direction: column;
    margin: 17px 0px;
}

.footer-logo>h1{
    font-size: 60px;
    color: #957ff6;
}
.footer-orginfo {
    width: 200px;
}
.footer-orginfo>p{
    font-size: 18px;
    margin-top: 32px;
    color: #ffffff;
    font-family: Helvetica;
}

.footer-title>h4{
    font-size: 30px;
    color: white;
}
.footer-title>ul>li{
    font-size: 19px;
    list-style: none;
    margin: 19px 19px;
    font-family: Cochin;
    border-radius: 6px;
}

.footer-title>ul>li:hover{
    background: #473c79;
}

.footer-links{
    color: #ffffff;
    text-decoration: none;
}

.footer-links:hover{
    text-decoration: underline;
}

.footer-title>p{
    font-size: 19px;
    color: #ffffff;
    margin: 30px 0;
    font-family: Cochin;
}

.email-input {
    border-radius: 21px;
    height: 40px;
    width: 300px;
    padding: 2px 10px;
    color: white;
    background: transparent;
    font-size: 16px;
    border: 2px solid #ffffff7a;
    outline: none;
}

.subscribe-btn {
    position: absolute;
    bottom: 339px;
    right: 52px;
    width: 75px;
    height: 48px;
    border-radius: 39px;
    background: #957ff6;
    outline: none;
    border: transparent;
    color: rgb(2, 2, 2);
    cursor: pointer;
    font-family: Cochin;
}

.subscribe-btn:hover {
    background: #957ff6;
}

.footer-bottom {
    height: 27px;
    margin-top: 150px;
    background: black;
}

.footer-bottom-container{
    padding: 3px 0;
}

.text-center{
    text-align: center;
}
.text-center>p{
    color: white;
}


/*Scroll back to top button*/
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none;
    background-color: #FF6378;
    color: white;
    cursor: pointer;
    padding: 15px; 
    border-radius: 10px;
    font-size: 18px;
  }
  
  #myBtn:hover {
    background-color: #f01766;
  }
  #footer{
      height: 38rem;
      display: block;
      position: relative;
      background: #0b0a0f;
  }
  
  
  .footer-wrapper{
      padding: 66px 0;
  }
  
  .footer-main-container{
      display: flex;
      justify-content: space-between;
  }
  
  .footer-area{
      padding: 0 85px;
  }
  
  .footer-title {
      display: flex;
      flex-direction: column;
      margin: 17px 0px;
  }
  
  .footer-logo>h1{
      font-size: 60px;
      color: #957ff6;
  }
  .footer-orginfo {
      width: 200px;
  }
  .footer-orginfo>p{
      font-size: 18px;
      margin-top: 32px;
      color: #ffffff;
      font-family: Helvetica;
  }
  
  .footer-title>h4{
      font-size: 30px;
      color: white;
  }
  .footer-title>ul>li{
      font-size: 19px;
      list-style: none;
      margin: 19px 19px;
      font-family: Cochin;
      border-radius: 6px;
  }
  
  .footer-title>ul>li:hover{
      background: #473c79;
  }
  
  .footer-links{
      color: #ffffff;
      text-decoration: none;
  }
  
  .footer-links:hover{
      text-decoration: underline;
  }
  
  .footer-title>p{
      font-size: 19px;
      color: #ffffff;
      margin: 30px 0;
      font-family: Cochin;
  }
  
  .email-input {
      border-radius: 21px;
      height: 40px;
      width: 300px;
      padding: 2px 10px;
      color: white;
      background: transparent;
      font-size: 16px;
      border: 2px solid #ffffff7a;
      outline: none;
  }
  
  .subscribe-btn {
      position: absolute;
      bottom: 339px;
      right: 52px;
      width: 75px;
      height: 48px;
      border-radius: 39px;
      background: #957ff6;
      outline: none;
      border: transparent;
      color: rgb(2, 2, 2);
      cursor: pointer;
      font-family: Cochin;
  }
  
  .subscribe-btn:hover {
      background: #ff5757;
  }
  
  .footer-bottom {
      height: 27px;
      margin-top: 150px;
      background: black;
  }
  
  .footer-bottom-container{
      padding: 3px 0;
  }
  
  .text-center{
      text-align: center;
  }
  .text-center>p{
      color: white;
  }
  
  
  /*Scroll back to top button*/
  #myBtn {
      display: none; 
      position: fixed; 
      bottom: 20px;
      right: 30px; 
      z-index: 99; 
      border: none; 
      outline: none;
      background-color: #FF6378;
      color: white;
      cursor: pointer;
      padding: 15px; 
      border-radius: 10px;
      font-size: 18px;
    }
    
    #myBtn:hover {
      background-color: #f01766;
    }